<!DOCTYPE html>
<html>

    <head>
        <title><%= title %></title>

        <link rel="stylesheet" type="text/css" href="../css/main_stylesheet.css">
        <link rel="stylesheet" type="text/css" href="../css/create_new_blog_entry.css">

    </head>

    <body>
        <h1 id="blog_title" >Blog Title</h1>
        <h2 id="blog_author" >Author name</h2>
        <div id="toolbar_container" >
            <button id="home_button" class="toolbar_button" >Home</button>
        </div>

        <div class="new_blog_entry_input_fields" >
            <form class="new_blog_entry_form" accept-charset="utf-8" method="POST" action="/create_new_blog_entry" >
                <p class="input_header" >Entry Title:</p>
                <input class="new_entry_title_input" type="text" name="new_entry_title" placeholder="Entry title" >

                <% if(errors != undefined){ %>

                    <p class="new_entry_error" >
                        <% errors.forEach(function(error){ %>
                            <% if(error.param == 'new_entry_title'){ %>
                                <%= error.msg %>
                            <% } %>
                        <% }) %>
                    </p>

                <% } %>

                <p class="input_header">Entry Date:</p>
                <input class="new_entry_date_input" type="text" name="new_entry_date" placeholder="Entry date" >

                <% if(errors != undefined){ %>

                    <p class="new_entry_error" >
                        <% errors.forEach(function(error){ %>
                            <% if(error.param == 'new_entry_date'){ %>
                                <%= error.msg %>
                            <% } %>
                        <% }) %>
                    </p>

                <% } %>

                <p class="input_header">Entry:</p>
                <textarea class="new_entry_text_area" placeholder="Blog entry" name="new_entry_text" ></textarea> <br>
                <input class="new_entry_submit_button" type="submit" value="Submit" >

                <% if(errors != undefined){ %>

                    <p class="new_entry_error" >
                        <% errors.forEach(function(error){ %>
                            <% if(error.param == 'new_entry_text'){ %>
                                <%= error.msg %>
                            <% } %>
                        <% }) %>
                    </p>

                <% } %>

            </form>
        </div>
    </body>

    <script type="text/javascript">
        document.getElementById('home_button').onclick = function(){
            location.href = '/';
        };
    </script>

</html>