<!DOCTYPE html>
<html>

    <head>
        <title><%= title %></title>

        <link rel="stylesheet" type="text/css" href="../css/main_stylesheet.css">
        <link rel="stylesheet" type="text/css" href="../css/create_new_blog_entry.css">

    </head>

    <body>
        <h1 id="blog_title" >Blog Title</h1>
        <h2 id="blog_author" >Author name</h2>
        <div id="toolbar_container" >
            <button id="home_button" class="toolbar_button" >Home</button>
        </div>

        <div class="new_blog_entry_input_fields" >
            <form class="new_blog_entry_form" accept-charset="utf-8" method="POST" action="/create_new_blog_entry" >

                <table class="new_blog_entry_input_table" >
                <col width="40%">
                <col width="60%">

                    <tr>
                        <td>
                            <p class="input_header" >Entry Title:</p>
                        </td>
                        <td>
                            <% if(errors != undefined){ %>

                                <p class="new_entry_error" >
                                    <% errors.forEach(function(error){ %>
                                        <% if(error.param == 'new_entry_title'){ %>
                                            <%= error.msg %>
                                        <% } %>
                                    <% }) %>
                                </p>

                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="new_entry_title_input" type="text" name="new_entry_title" placeholder="Entry title" >
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="input_header">Entry Date:</p>
                        </td>
                        <td>
                            <% if(errors != undefined){ %>

                                <p class="new_entry_error" >
                                    <% errors.forEach(function(error){ %>
                                        <% if(error.param == 'new_entry_date'){ %>
                                            <%= error.msg %>
                                        <% } %>
                                    <% }) %>
                                </p>

                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="new_entry_date_input" type="text" name="new_entry_date" placeholder="Entry date" >
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="input_header">Entry:</p>
                        </td>
                        <td>
                            <% if(errors != undefined){ %>

                                <p class="new_entry_error" >
                                    <% errors.forEach(function(error){ %>
                                        <% if(error.param == 'new_entry_text'){ %>
                                            <%= error.msg %>
                                        <% } %>
                                    <% }) %>
                                </p>

                            <% } %>
                        </td>
                    </tr>
                </table>

                <textarea class="new_entry_text_area" placeholder="Blog entry" name="new_entry_text" ></textarea> <br>

                <p class="input_header" >Tags:</p>
                <textarea id="new_entry_tags" placeholder="eg. ~maths" name="new_entry_tags" ></textarea> <br>

                <input class="new_entry_submit_button" type="submit" value="Submit" >

            </form>
        </div>
    </body>

    <script type="text/javascript">
        document.getElementById('home_button').onclick = function(){
            location.href = '/';
        };
    </script>

</html>